* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: skyblue;
  display: flex;
  place-items: center;
  /* justify-content: center;
  align-items: center; */
  height: 100vh;
}

.weather-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  margin: 50px auto;
  text-align: center;
}

.weather-container input {
  margin-right: 1rem;
}

h1 {
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  margin-bottom: 20px;
}

#city-input {
  padding: 10px;
  flex-grow: 1;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#get-weather-btn {
  padding: 8px;
  border: none;
  background-color: #5dbf40;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#get-weather-btn:hover {
  background-color: #4fae36;
}

#loading-btn {
  padding: 8px;
  border: none;
  background-color: #48723b;
  color: white;
  border-radius: 5px;
  display: none;
}

.weather-result {
  padding: 10px;
  margin-top: 10px;
  background-color: #fdffad;
  border-radius: 5px;
}

.weather-result p {
  margin-bottom: 10px;
  font-size: 16px;
}

@media (min-width: 768px) {
  .weather-container {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .weather-container {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .weather-container {
    width: 30%;
  }
}

/* #weather-result img {
    width: 50px;
    margin-top: 10px;
} */
